
/* Reset ***********************************/
* {
  margin: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* *************************************** */

.carousel-inner{
  margin: 2vh;
  padding: 2vh;
  align-self: auto;
}

.wikipediaramonera{
  margin: 2vh;
  color: #da0789;
}
.nav-link{
  background-color: #da0789;
  color: aliceblue;
  margin: 2vh;
  padding: 1vh;
}

.titulo{
  color:#da0789;
  background-color:aliceblue;

}

body{

  background-attachment: fixed;
  background-size: cover;
  background-color: aliceblue
}

.intro{
  margin: 2vh;
  padding: 2vh;
  font-style: italic;
  float: left;
 }

  .texto{
      margin: 2vh;
      padding: 2vh;
      font-style: italic;

   
  }
  .noticias{ 
      margin: 2vh;
      padding: 2vh;
      font-style: italic;

  }

  .Ramones{
    margin-left: 2vh;
    color: #da0789;
    
  }

h1{
  margin: 2vh;
  padding: 2vh;
  font-style: italic;
  color: #da0789;

}

.titulohistoria{ margin: 2vh;
  padding: 2vh;
  font-style: italic;
  color: #da0789;

}

h3{
  margin-left: 2vh;
  color: #da0789;
}

h2{
  margin-left: 20vh;
  padding: 2vh;
  font-style: italic;
  color: #da0789;

}




.listgroup{
  color:#da0789;
  background-color: aliceblue
}

.videoramones{
  background-color: aliceblue
  
}

.sitiosamigos{
  margin-left: 2vh;
  color: #da0789;

}


.galeria { 
  transform:scale(1.5,1.5) ;
  border-radius: 7px;
  margin: 0px, 5px, 0px, 5px;
  width: 100%;
}

.logo{
 
  width: 40%;
  margin-left: 2vh;
}

.texto{ 
  margin-left: 2vh;
  margin-right: 2vh;


}

/* ************************************** */
main {
  display: flex;
  align-items: center;
  min-height: 80vh;
  justify-content: center;
}

/* ************************************************ */

footer{
  margin-left: 2vh;
  color:#da0789;
  font-style: italic;

}
.menu{
  margin-left: 2vh;
  color:#da0789;
  font-style: italic

}


 

