.intro{
    margin: $margin;
    padding:$padding;
    font-style: $fontstyle;
    }


h1{
 margin: $margin;
padding: $padding;
font-style:$fontstyle;
      }
      
 h3{
   margin-left: $margin;
   color:$color;
      }
      
h2{
  margin: $margin;
  padding:$padding;
  font-style:$fontstyle;
  color:$color;
      
      }

.texto {
    margin:  $margin;
    padding: $padding;
    font-style:$fontstyle;
  }
article {
        margin:  $margin;
        padding: $padding;
    }
.noticias{ 
        margin: $margin;
        padding: $padding;
        font-style: $fontstyle;
  
    }
.historia{ 
  margin: 20vh;
  transform:scale(1.5,1.5);
  border-radius: 7px;
  margin: 0px, 5px, 0px, 5px;
  width: 100%;
  font-style:$fontstyle;
   
    }  

.titulohistoria{ 
  margin:  $margin;
  padding: $padding;
  font-style:$fontstyle;
  color:$color;
    }
      
.Ramones{
 margin-left: $margin;
 color:$color;
 font-style:$fontstyle;
      }


