body{
    background-color:hsl(330, 20%, 90%)
}
.videoramones{
    background-color:hsl(330, 20%, 90%)
}

div{ 
    color: #da0789;
}
.ramones {
    color: #da0789;
}
.efecto :hover{
   background: #da0789;

}
.footer{
    color: fuchsia;
}