.carousel-inner{
    margin: 2vh;
    padding: 2vh;
    align-self: auto;
  }

  .galeria { 
    transform:scale(1.5,1.5) ;
    border-radius: 7px;
    margin: 0px, 5px, 0px, 5px;
    width: 100%;
  }
  .videoramones {
    $background-color
}