h1{
    margin: 2vh;
   padding: 2vh;
   font-style: italic;
         }
         
         
         
         
         h3{
           margin-left: 2vh;
           color: #da0789;
         }
         
         h2{
           margin: 2vh;
           padding: 2vh;
           font-style: italic;
           color: #da0789;
         }